*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
#navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    padding: 5px;
}

#navbar > a{
    margin: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}
#navbar > a:last-child{
    padding-right: 30px;
}
#navbar > a:hover{
    color: gray;
    cursor: pointer;
}

#menu{
    display: grid;
    grid-template-columns: repeat(4,23%);
    justify-content: center;
    grid-gap: 5px;
}
@media (max-width: 1200px) and (min-width: 1000px){
    #menu{
        display: grid;
        grid-template-columns: repeat(3,25%);
        grid-gap: 20px;
    }   
}
@media (max-width: 1000px) and (min-width: 600px){
    #menu{
        display: grid;
        grid-template-columns: repeat(2,40%);
        grid-gap: 10px;
    }   
}
@media (max-width: 600px){
    #menu{
        display: grid;
        grid-template-columns: repeat(1,50%);
        grid-gap: 10px;
    }   
}

#menu > div {
    margin: 20px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    width: 250px;
}

#menu > div > img{
    height: 250px;
    object-fit: contain;
    margin-bottom: 8px;
}

#menu > div > h2{
    /* margin: 0px; */
}

#menu > div > h3{
    margin: 10px;
}

#menu > div > button{
    width: 100%;
    font-size: 18px;
    padding: 8px;
    text-transform: capitalize;
    background-color: green;
    color: #fff;
    border: none;
}

#menu > div > button:hover{
    cursor: pointer;
    background-color: red;
}